/* https://blade04208.github.io/css/stacked/server.css */
/* makes the server list a small bar, and slides out on hover. */
[aria-label="Servers sidebar"] { /* .guilds_a4d4d9 */
    width: 0px!important;
    padding-left: var(--guild-mini)!important;
    transition: all 0.3s; 
}
[aria-label="Servers sidebar"]:hover { /* .guilds_a4d4d9 */
    width: var(--guild-max)!important;
    padding-left: initial!important;
}
:root {
    --guild-mini: 15px;
    --guild-max: 72px; /* normal server list size */ }



/* https://blade04208.github.io/css/stacked/channel.css */
/* makes the channel list a small bar, and slides out on hover. */
.sidebar_a4d4d9 { 
    width: 0px!important;
    padding-left: var(--channel-mini)!important;
    transition: all 0.4s;
}
.sidebar_a4d4d9:hover {
    width: var(--channel-max)!important;
    padding-left: initial!important;
}
:root {
    --channel-mini: 15px;
    --channel-max: 250px; /* normal channel list size */}



/* same for toolbar.. */
.toolbar_fc4f04 {
    width: 0px !important;
    padding-right: var(--toolbar-mini)!important;
    transition: all 1s;
}
.toolbar_fc4f04:hover {
    width: var(--toolbar-max)!important;
    padding-left: initial!important;
}
:root {
    --toolbar-mini: 40px;
    --toolbar-max: 400px; /* normal toolbar size */
}



/*same thing but to the settings sidebar*/
.sidebarRegion_c25c6d{
    flex: 0;
}
.sidebarRegion_c25c6d { 
    width: 0px!important;
    padding-left: var(--settings-mini)!important;
    transition: all 0.3s; 
}
.sidebarRegion_c25c6d:hover { 
    width: var(--settings-max)!important;
    padding-left: initial!important;
}
:root {
    --settings-mini: 15px;
    --settings-max: 225px; 
}
/*settings menu options are picky with width, this helps it sliiiightly but it still isn't great*/
.customColumn_c25c6d, .contentColumn_c25c6d {
    max-width: 1000px; 
    min-width: 300px; 
    min-height: 0; 
}



/* hides timestamps by default unless on hover */
.timestamp_f9f2ca {
    opacity: 0;
    transition: all 0.3s;
    white-space:nowrap;
    position:absolute;
}
.timestamp_f9f2ca:hover {
    opacity: 1;
}


/* usernames clip instead of breaking lines */
.headerText_f9f2ca { 
    white-space:nowrap;
}


/* hide react and reply buttons on message hover, just use right click */
.buttonsInner_d5deea { 
    display: none;
}


/*vencord notifs should definitely be in rem or em or something instead of vh or vw because of monitor size*/
.vc-notification-root:not(.vc-notification-log-wrapper > .vc-notification-root) {
    right: 1rem;
    width: 15em;
}



/* https://github.com/CroissantDuNord/discord-adblock */
 /* Hide Nitro gift button */
button[aria-label="Send a gift"] {
    display: none;
}
/* Hide sticker picker button */
button[aria-label="Open sticker picker"] {
    display: none;
}
/* hide buttons until you click the chatbar*/
.textAreaSlate_d0696b:focus-within + .buttons_d0696b{
    display:none;
} 





