body {
    background-size: 4em 4em;
    background-image: /* tint */
                      linear-gradient(to top, rgba(129, 129, 129, 0.75), rgba(129, 129, 129, 0.75)),
                      /* checkered */
                      linear-gradient(to right, rgb(0, 0, 0) 50%, white 50%),
                      linear-gradient(to bottom, black 50%, white 50%);
    background-blend-mode: normal, difference, normal;
    animation: moveGrid 6s linear infinite;
} /* todo: try to understand wtf is going on in here */
@keyframes moveGrid {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -4em -4em;
    }
}   
@font-face {
    src: url(/assets/fonts/Metropolis-SemiBold.otf);
    font-family: "Metropolis";
}
@font-face {
    src: url(/assets/fonts/Afacad-VariableFont_wght.ttf);
    font-family: "Afacad";
}


.page {
    font-family: "Metropolis";
    color:rgb(71, 71, 71);
    background-color:white;
    border: 3px solid black;
    border-radius: 5px;
    margin: 1em 10em;
    overflow:hidden;
}
.intro{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(206, 206, 206);
    border-bottom: 3px solid black;
}
.intro a{ /* back button*/
    background-color: rgb(168, 168, 168);
    border-radius: 5px;
    text-decoration: none;
    color:rgb(71, 71, 71);
    overflow:hidden;
    margin-left: 0.3em;
    padding:0.1em;
    transition: 0.1s;
    font-size: 0.8em;
}
.intro a:hover{
    text-shadow: 0px 0px 10px rgb(120, 120, 120);
    padding:0.2em;
}
.suni {
    width:5em;
}
.back {
    margin:0;
    font-size: 2em;
}
.weblogtitle { /* name of weblog */
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3em;
    padding: 0.3em 0.3em;
}
h1 {
    margin:0;
    font-size: 4em;
}
h2 {
    margin:0;
}
.entries > div {
    margin: 0.5em;
}
.entries a:not(.cutercounter a) {
    color: rgb(245, 129, 129); 
    transition: all 0.2s;
    display:inline-block;
    text-decoration: none;
}
.entries a:hover:not(.cutercounter a) {
    text-shadow: 1px 1px 0px rgb(121, 63, 63);
    translate: 0px -1px;
    text-decoration: underline;
}
@media screen and (max-width: 1111px) { /* change stuff when the screen is smaller */
    h1 {
        font-size: 3em;
    }
}
@media screen and (max-width: 960px) { 
    h1 {
        font-size: 2.5em;
    }
}
@media screen and (max-width: 856px) { 
    .page {
        margin: 1em 0em;
    }
}
@media screen and (max-width: 773px) { 
    .suni {
        display:none;
    }
}

.cutercounter img{
    image-rendering: pixelated;
    border: 1px solid black;
    transition: all 0.2s;
}
.cutercounter img:hover{
    image-rendering: pixelated;
    box-shadow: 1px 1px 0px black;
}
.cutercounter{
    display:flex;
    justify-content: center;
}